<h3>
    <strong>Edit Appointments</strong>
    <button class="button-84-normal float-end" (click)="addEvent()">
      Add new
    </button>
    <button class="button-84-success float-end" style="margin-right: 10px;" (click)="save()" >
      Save
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Begins</th>
          <th>Ends</th>
          <th>Delete</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of events" style="width: 200%;">
          <td>
            
              <mat-select [(value)]="event.pet_id" (selectionChange)="handleSelectChange($event)" >
                <mat-option
                  *ngFor="let pet of pets"
                  [value]="pet.id">
                  {{ pet.name }}
                </mat-option>
              </mat-select>
            
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [locale]="locale"
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          
          <td>
            <button class="button-84-failure" (click)="deleteEvent(event)"  >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  