<h1>
    Welcome {{vet.name}}
</h1>
<h2>Great to have you here!</h2>
<div><app-visual-appointments></app-visual-appointments></div>

<h2 style="margin-top: 100px;">
    Today's visits
</h2>
<ng-container *ngIf="isTodayVisits.length > 0; then thenBlock else elseBlock">
</ng-container>
<ng-template #thenBlock>
    <div *ngFor="let visit of clientAppointments">
        <ng-container *ngIf="isTodayVisit(visit.end_date || ''); then thenBlock ">
        </ng-container>
        <ng-template #thenBlock>
            <button class="whiteButton" id="{{visit.id}}" (click)="redirectVisitPage(visit.id || '')">
                <div style="column-count: 2;">
                    <div>
                        <img src="{{VisitPet.profile_image}}" style="width: 70%;">
                    </div>
                    <div style="text-align: left;">
                        <ul>
                            <li><b>Pet:</b> {{VisitPet.name}}</li>
                            <li><b>Start:</b> {{formatStartDate(visit.start_date || '')}}</li>
                            <li><b>End:</b> {{formatStartDate(visit.end_date || '')}}</li>

                        </ul>
                    </div>
                </div>
            </button>
        </ng-template>
    </div>
</ng-template>
<ng-template #elseBlock>
    <div>
        <p> No visits for today</p>
    </div>
</ng-template>