<div>
    <h1>Clients</h1>
</div>

<div class="module">
    <h2>Search clients</h2>
    <input id="searchClient" type="text" placeholder="John Doe" class="searchBar" (keydown)="onKeyDown($event)">
</div>

<div class="module">
    <h2>Recent clients</h2>
    <div style="padding-left: 460px;" *ngIf="contentIsLoad">
        <mat-spinner></mat-spinner>
    </div>
    <table style="margin-right: -20px;">
        <tr>
            <th *ngFor="let item of clientsArray">
                <button class="whiteButton" id="{{item.id}}" (click)="redirectClientPage(item.id)">
                    <div style="column-count: 2;">
                        <div>
                            <img src="/assets/img/userProfileImage.jpg" style="width: 200px;">
                        </div>
                        <div style="text-align: left;">
                            <p style="font-weight: bold;">{{item.name}} {{item.surnames}}</p>
                            <ul>
                                <li>Email: {{item.email}}</li>
                                <li>Phone: {{item.phone}}</li>
                            </ul>
                        </div>
                    </div>
                </button>
            </th>
        </tr>
    </table>
    <br><br><br><br>

</div>