<div>
    <h1>Clients</h1>
</div>

<div class="module">
    <h2>Search clients</h2>
    <input id="searchClient" type="text" placeholder="John Doe" class="searchBar" (keydown)="onKeyDown($event)">
</div>

<div class="module">
    <h2>Recent clients</h2>
    <table style="margin-right: -20px;">
        <tr>
            <th>
                <button class="whiteButton">
                    <div style="column-count: 2;">
                        <div>
                            <img src="/assets/img/userProfileImage.jpg" style="width: 200px;">
                        </div>
                        <div style="text-align: left;">
                            <p style="font-weight: bold;">John Doe</p>
                            <ul>
                                <li>Pets: Tooby, Linda</li>
                                <li>Last visit: 10/11/2023</li>
                              </ul>
                        </div>
                    </div>
                </button>
            </th>

            <th>
                <button class="whiteButton">
                    <div style="column-count: 2;">
                        <div>
                            <img src="/assets/img/userProfileImage.jpg" style="width: 200px;">
                        </div>
                        <div style="text-align: left;">
                            <p style="font-weight: bold;">John Doe</p>
                            <ul>
                                <li>Pets: Tooby, Linda</li>
                                <li>Last visit: 10/11/2023</li>
                              </ul>
                        </div>
                    </div>
                </button>
            </th>
        </tr>
    </table>

    <table style="margin-top: 40px; margin-right: -20px;">
        <tr>
            <th>
                <button class="whiteButton">
                    <div style="column-count: 2;">
                        <div>
                            <img src="/assets/img/userProfileImage.jpg" style="width: 200px;">
                        </div>
                        <div style="text-align: left;">
                            <p style="font-weight: bold;">John Doe</p>
                            <ul>
                                <li>Pets: Tooby, Linda</li>
                                <li>Last visit: 10/11/2023</li>
                              </ul>
                        </div>
                    </div>
                </button>
            </th>

            <th>
                <button class="whiteButton">
                    <div style="column-count: 2;">
                        <div>
                            <img src="/assets/img/userProfileImage.jpg" style="width: 200px;">
                        </div>
                        <div style="text-align: left;">
                            <p style="font-weight: bold;">John Doe</p>
                            <ul>
                                <li>Pets: Tooby, Linda</li>
                                <li>Last visit: 10/11/2023</li>
                              </ul>
                        </div>
                    </div>
                </button>
            </th>
        </tr>
    </table>

    <br><br><br><br>
    
</div>