<div>
    <h1>Mierdón</h1>
</div>
<div class="module" style="column-count: 2;">
    <h2>Personal information</h2>
    <div class="info-container">
        <div style="column-count:  2;">
            <div>
                <label for="petName"><b>Name:</b></label>
                <span id="petName"> Mierdón</span><br>

                <label for="petBirth"><b>Bith date:</b></label>
                <span id="petBirth"> 17/10/2020</span><br>

                <label for="petTypeBreed"><b>Type:</b></label>
                <span id="petTypeBreed"> Dog, border collin</span><br>
            </div>
            <div>
                <label for="petWeight"><b>Weight:</b></label>
                <span id="petWeight"> 200g</span><br>

                <label for="petHeight"><b>Height:</b></label>
                <span id="petHeight"> 180cm</span><br>
            </div>
        </div>

        <div class="module" style="padding-right: 20px;">
            <h2>Pet resume</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et
                condimentum purus, in tincidunt erat.
            </p>
        </div>
    </div>
    <div>
        <img src="/assets/img/dogImage3.jpg" style="width: 400px;">
    </div>
</div>

<div class="module">
    <h2>Statistics</h2>
    <div class="image-container">

    </div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>

</div>