<div>
    <h1>{{clientInfo.name}} {{clientInfo.surnames}}</h1>
</div>
<div class="module" style="column-count: 2;">
    <h2>Personal information</h2>
    <div class="info-container">
        <div style="column-count:  2;">
            <div>
                <label><b>Name:</b></label>
                <span> {{clientInfo.name}}</span><br>

                <label><b>Surname:</b></label>
                <span> {{clientInfo.surnames}}</span><br>

                <label><b>Phone:</b></label>
                <span> {{clientInfo.phone}}</span><br>
            </div>
            <div>
                <label><b>Email:</b></label>
                <span> {{clientInfo.email}}</span><br>

                <label><b>Address:</b></label>
                <span> C/ Medellín n69, Albacete, 05423</span><br>
            </div>
        </div>

        <div class="module" style="padding-right: 20px;">
            <h2>Client resume</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et
                condimentum purus, in tincidunt erat. <br><br>

                Sed in suscipit dui. Nulla scelerisque, orci vitae volutpat tincidunt, lectus magna suscipit mauris.
            </p>
        </div>
    </div>
    <div>
        <img src="/assets/img/userProfileImage.jpg" style="width: 400px;">
    </div>
</div>

<div class="module">
    <h2>Pets</h2>
    <div class="image-container" (click)="redirectPetPage(pet.id)" 
    *ngFor="let pet of clientPets">
        <img src="/assets/img/dogImage1.jpg" alt="Pet">
        <div class="overlay">
            <p>{{pet.name}}</p>
        </div>
    </div>    
</div>