<!--
    https://itnext.io/the-ultimate-sidenav-guide-with-angular-resizeable-dynamic-and-toggleable-c42dc057798d
-->


<div *ngIf="isLoggedIn$ | async as isLoggedIn">

    <app-sidenav-link routerLink="dashboard">
        <span>Home</span>
    </app-sidenav-link>

    <app-sidenav-link routerLink="appointments">
        <span>Appointments</span>
    </app-sidenav-link>

    <app-sidenav-link routerLink="client">
        <span>Clients</span>
    </app-sidenav-link>
    
    <app-sidenav-link routerLink="client" (click)="logout()">
        <span>Logout </span>
    </app-sidenav-link>

</div>